@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

body {
    font-family: "Noto Sans", sans-serif;

    background-color: var(--background-color);

}

:root {
    --background-color: #0A0A0A;
    --green: #8FE64A;
    --white: #FEFEFE;
    --gray: #F1F1F1;
}

.header {
    background-color: var(--white);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 150px 150px;
    overflow: hidden;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 40px;



}

.hero {
    background-color: var(--white);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.hero nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 100px;
    text-align: center;

    width: 80%;


}


nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    height: 70px;
    align-items: center;
    padding-inline: 40px;


}

nav ul li a {
    color: var(--white);
    padding: 10px;
    font-size: 18px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 40px;
    height: 40px;
    cursor: pointer;

}

.tablet-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 100px;
padding: 10px;
    display: none;
    width: 80%;
}

.tablet-nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
padding-inline: 20px;
padding-block:1px;
   


}

.logo a {
    color: var(--white);
}

/* .burger svg {
    width: 30px;
    height: 30px;
    stroke: var(--gray);
} */
 .mobile-menu-container {

  display: none;
}

.burger {

  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;

  z-index: 5 !important;
}

.burger div {
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  border-radius: 5px;
  position: absolute;
  transition: 0.5s;
}

.burger div:nth-child(1) {
  top: 0px;
}

.burger div:nth-child(2) {
  top: 10px;
}

.burger div:nth-child(3) {
  top: 20px;
}

.header.openMenu .burger div:nth-child(1) {
  transform: rotate(45deg)translateY(14px);
  background-color: var(--gray);

  /* right:-100px ; */
}

.header.openMenu .burger div:nth-child(3) {
  transform: rotate(-45deg)translateY(-14px);
  background-color: var(--gray);
 
    /* right: -100px; */
}

.header.openMenu .burger div:nth-child(2) {
  opacity: 0;
}

.header.openMenu .menu {

  flex-direction: column;
}

.background {
  background-color: #000000e2;
  position: fixed;
  top: -200px;
  right: -200px;
  transition: 1s;
  aspect-ratio: 1/1;
  translate: 50%, 0%;
  border-radius: 100%;
  height: 0;
  width: 150% !important;
  z-index: 1;
  overflow: hidden;
}

header.openMenu .background {
  height: 680px;
  border-radius: 30px;


}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  transition: 2s;
  z-index:3;
 opacity: 0;
 visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu ul {
  list-style: none;
  font-size: 40px;
  font-weight: bold;

}

.mobile-menu ul li {
  padding: 10px;
  transition: 0.6s;
 
  transform: translateY(-500px);
  overflow: hidden;
}

.mobile-menu ul li a {
  color: var(--gray);
 
}

.header.openMenu .mobile-menu {
transition-delay: 0.6s;
  opacity: 1;
  visibility: visible;
  overflow: hidden;

}
.header.openMenu .mobile-menu li {
    transform: translateY(0);
}
.header.openMenu .mobile-menu li:nth-of-type(4){
    transition-delay: 0.6s;
}
.header.openMenu .mobile-menu li:nth-of-type(3){
    transition-delay: 0.8s;
}
.header.openMenu .mobile-menu li:nth-of-type(2){
    transition-delay:1s;
}
.header.openMenu .mobile-menu li:nth-of-type(1){
    transition-delay: 1.2s;
}
.cursor{
  width:60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--gray);
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 4;
  opacity: 0;
  transform: translate(-50% , -50%) scale(0);
  transition: opacity 0.3s , translate 0.3s;
}

@media only screen and (max-width: 700px) {
  .menu {
    display: none;
  }

  .mobile-menu-container {
    display: block;
  }

  .burger svg {
    display: block;
  }
}

@media (width <=768px) {
    .hero nav {
        display: none;
    }

    .tablet-nav {
        display: block;
    }
}

.title-txt {
    position: relative;
}


.title-txt svg {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    bottom: 20px;
    transform: rotate(70deg);
    fill: var(--green);
}

@media (width <=420px) {
    .title-txt svg {
        right: 50px;
        bottom: 10px;
    }

}

@media (width <=562px) {
    .title-txt svg {
        display: none;
    }

}

.title {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 40px;
}

.anime-1 {
-webkit-animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@media (width <=420px) {
    .title {
        font-size: 16px;

        margin-top: 10px;
    }

}

@media (width <=768px) {
    .title {
        font-size: 28px;
    }
}

@media (width <=562) {
    .header {
        height: auto;
    }

}

.hero-bottom {
    width: 100%;
    display: flex;

    gap: 30px;
}

.hero-bottom .row {
    padding-block: 35px;
    display: flex;

    justify-content: center;
    width: 100%;

}

.hero-item {
    width: calc(33% - 30px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    color: var(--background-color);

}

@media (width <=992px) {
    .hero-item {
        width: calc(50% - 30px);
    }
}


.disc {
    display: flex;
    align-items: flex-start;
    position: relative;

}

@media (width <=992px) {
    .disc {
        margin-top: -50px;
    }

}

@media (width <=680px) {
    .disc {
        display: none;
    }

}

.disc svg {
    width: 25px;
    height: 25px;
    fill: var(--green);
    transform: rotate(-45deg);
    position: absolute;
    left: 6px;
    top: -15px;
}

.hero-item span {
    font-weight: bold;
}

.hero-item p {
    font-size: 10px;
    margin-left: 30px;
}




.hero-item .text {
    font-size: 16px;
}

.btn {
    all: unset;
    border: 1px solid var(--gray);
    padding: 4px 12px;
    color: var(--background-color);
    border-radius: 50px;
    margin-block: 20px;
    width: 150px;
    text-align: center;
    margin-left: 30px;


}

@media (width <=992px) {

    .btn {
        width: 100px;
    }
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-one {
    background-color: var(--gray);
    width: 300px;
    height: 300px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle-two {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #d5d4d4;
}

.image img {
    width: 80%;
    /* z-index: 2; */
    position: absolute;
    top: -50px;
    left: 50px;
}
.anime-img {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (width <=562px) {

    .circle {
        width: 90%;
    }

    .image img {
        display: none;
    }
}

.stars svg {
    fill: var(--green) !important;
    width: 20px;
    height: 20px;
}

@media (width <=768px) {
    .third {
        display: none
    }

    ;

    .hero-item {
        width: 50%;

    }

}
@media (width <=687px) {
    .image img {
    
    top: -30px;
   
}
}

.btn-wrapper {
    position: absolute;
    display: flex;
    bottom: 100px;
    /* z-index: 3; */
    padding: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--gray);
    border-radius: 50px;

}

@keyframes move {
    0% {
        bottom: -300px;
    }

    100% {
        bottom: 200px;
    }

}

@media (width <=562px) {

    .btn-wrapper {
        transition: 1s;
        animation: all move 1s;
        bottom: 220px;
    }

    @media (width <=380px) {
        .btn-wrapper {
            margin-bottom: 20px;
        }

        .btn {
            padding: 2px;
            margin: 2px;
        }

        .right {
            margin-left: 0;
        }

    }

    .header {

        border-radius: 0px;
    }

    .hero {
        height: 350px;
    }
}

.left,
.right {
    margin-block: 0;
    width: 90px;
}

.left {
    background-color: var(--green);
    color: var(--background-color);
    border: none;
    margin-left: 0;
}

/* start features style   */
.features {

    width: 100%;
    display: flex;
    justify-content: center;

}

.features-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    border: 1px solid #5c5b5b;
    backdrop-filter: contrast(80%);
    position: relative;
    padding: 20px 40px;
    border-radius: 30px;
    overflow: hidden;
    gap: 10px;


}

.features-wrapper::before {
    display: block;
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--green);
    filter: blur(150px);
}

.features-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.col {
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media (width <=600px) {
    .col {
        width: 100%;
        flex-direction: column;
        border: 1px solid var(--gray);
        padding-block: 10px;
        border-radius: 10px;
        cursor: pointer;

    }

    .features-wrapper {
        flex-direction: column;
        gap: 20px;
        border-bottom: 1x solid var(--green);
    }

}

.item-count {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-count p {
    font-weight: bold;
    font-size: 20px;
}

.features-item svg {
    width: 20px;
    height: 20px;
    stroke: var(--green);
    margin-left: 5px;
}

.item-txt {
    font-size: 12px;
    color: var(--gray);
    margin-top: 10px;
}

@media (width <=600) {
    .item-count p {
        font-size: 12px;

    }

}

/* end features style  */
/* start ideas style  */

.ideas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    width: 100%;
    color: var(--white);
    gap: 10px;


}

@media (width <=400px) {
    .row {
        align-items: flex-start;

    }

}

.row-left,
.row-right {
    width: calc(50% - 20px);
}

.row-left-txt {
    font-size: 28px;
    font-weight: bold;
}
.idea-text {
	-webkit-animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
            transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
            transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@media (width <=600) {
    .row {
        display: flex;
        align-items: center;


        width: 100%;
        color: var(--white);



    }

    .row-left {
        text-align: left;
        width: 100% !important;
    }

}

.row-right-txt {
    font-size: 12px;
    width: 300px;
}

.row-img {

    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 50px;
    gap: 10px;
}

@media (width <=768px) {
    .row-img {

        height: 300px;

    }
}

.row-left-img {

    width: 100%;
    position: relative;
    border-radius: 10px;


}

.row-right-img {

    width: 100%;
    filter: grayscale(80%);

}

.row-left-img img,
.row-right-img img {

    width: 100%;

    border-radius: 20px;
}

.caption {
    background-color: var(--green);
    width: 250px;
    padding: 10px;
    position: absolute;
    bottom: 100px;
    left: 20px;
    color: var(--background-color);
    font-weight: bold;
}

@media(width <=400px) {
    .caption {
        width: 150px;
        font-size: 12px;
        height: 65px;
    }


}

.caption::before {
    content: "";
    width: 15px;
    height: 65px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: -18px;
    background-color: var(--green);
}

.caption::after {
    content: "";
    width: 5px;
    height: 65px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: -25px;
    background-color: var(--green);
}

@media (width <=768px) {
    .caption {
        bottom: 20px;
    }
}

@media (width <=600px) {
    .row {
        grid-template-columns: 1fr;
        height: auto;

    }

    .row-right {
        display: none;
    }

    .row-img {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .row-right-img {
        display: none;
    }
}

/* start services style 
 */
.services,
.meet {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);

    backdrop-filter: contrast(80%);
    position: relative;
    padding-block: 40px;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
}

.services::before {
    content: " Services"
    ;
    display: block;
    position: absolute;
    width: 20px;
    height: 60px;
    background-color: var(--green);
    left: 0;
    top: 30px;
    border-radius: 4px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 8px;
}

.services::after {
    display: block;
    content: "";
    position: absolute;
    top: -20px;
    right: -10px;
    width: 30px;
    height: 300px;
    background-color: var(--green);
    filter: blur(50px);
    transform: rotate(45deg);
}

.service-container,
.meet-container {

    margin-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.service-wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    position: relative;
    color: var(--gray);
    gap: 10px;
}

@media (width<=768px) {
    .service-wrapper {
        display: grid;
        grid-template-columns: 2fr;

    }
}

.services-title,
.meet-title {

    margin-inline: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.services-title h4 {
    font-size: 18px;

}

.services-title .svg {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 140px !important;
    height: 35px;
}

.services-title .rec-txt {
    position: absolute;
    top: 30px;
    left: 65px;
    font-weight: bold;
    font-size: 18px;
}

.services-disc {
    margin-block: 30px;
    font-size: 14px;
    width: 33%;
}

@media (width<=1630px) {


    .services-title .svg,
    .meet-title .svg {

        top: 35px;

    }

    .services-title .rec-txt,
    .meet-title .rec-txt {

        top: 35px;

    }
}

@media (width<=768px) {
    .services-disc {
        width: 60%;
    }

    .services-title .svg,
    .meet-title .svg {

        top: 30px;

    }

    .services-title .rec-txt,
    .meet-title .rec-txt {

        top: 33px;

    }
}


@media (width <=600px) {
    .service-item {
        width: 100%;
    }

    .services-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-left: 20px;
    }

    .services-title .svg {

        top: -5px;

    }

    .meet-title div .svg {

        top: 25px;

    }

    .services-title .rec-txt {

        top: 0px;

    }

    .meet-title .rec-txt {

        top: 30px;

    }

    .meet-btn {
        padding: 10px;
        width: auto;
    }

    .services::before {
        display: none;
    }
}

@media (width <=400px) {
    .meet {
        padding-block: 0;
    }

    .meet-title h4 {
        margin-bottom: 20px;
    }

    .meet-btn {
        display: none;
    }

    .meet-title .rec-txt {

        top: 0px;

    }

    .meet-title div .svg {

        top: -5px;

    }
}


.service-item ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.service-item ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.service-item ul li div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18PX;
    border-radius: 20px;
    width: 100%;
    box-shadow: rgba(85, 85, 88, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
    transition: all 0.5s;
}

.service-item ul li div:hover {
    background-color: var(--background-color);
}

.service-item ul li div svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.service-item span {
    background-color: var(--green);

}

.service-item img {
    width: 100%;
    border-radius: 20px;

    filter: grayscale(80%);
}

@media (width <=768px) {
    .service-item img {
        display: none;
    }
}

.service-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.service-btn-wrapper button {
    all: unset;
    font-size: 14px;

}

.service-top div {
    border-radius: 10px;
    margin-bottom: 4px;
    padding: 10px;
    box-shadow: rgba(85, 85, 88, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    backdrop-filter: contrast(90%);
    display: flex;

}

.service-btn-wrapper svg {
    width: 20px;
    height: 20px;
    background-color: var(--gray);
    fill: var(--background-color);
    border-radius: 50%;
}

.service-bottom {
    border-radius: 10px;
    color: var(--background-color);
    padding: 10px;
    background-color: var(--green);
}

.service-bottom div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.service-bottom div p {
    font-weight: bold;
}

.service-bottom div svg {
    width: 20px;
    height: 20px;
    background-color: var(--gray);
    border-radius: 50%;
    transform: rotate(-45deg);
}

.service-top p {
    font-size: 12px;
}

.service-bottom p {
    font-size: 12px;
}

.backdrop-circle {
    width: 50px;
    height: 100px;
    border-radius: 20%;
    filter: blur(30px);
    position: absolute;
    bottom: -100px;
    left: 100px;
    background-color: var(--green);
}

/* start scrolling ticker style  */
.scroll-ticker-box {
    display: flex;
    align-items: center;
    /* width: 90%; */
    overflow: hidden!important;
   
 
    justify-content: center;
    height: 80px;
  
    
}
.scroll-container{
   display: flex
   ;
      max-width: 1536px;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
   
 overflow: hidden;
  mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

.item svg {
    width: 45px !important;
     fill: var(--green);
}

.item p {
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
}

.item {
    height: 70px;
       /* position: absolute; */
    animation: 19s linear infinite;
       animation-name: sLeft;
    display: flex;
    align-items: center;
    justify-content: space-between;
  transform: translate(1400px);
}



@keyframes sLeft {
   
    to {
        /* left: -200px; */
        transform: translate(-200px);
    }
}


.item1 {
    animation-delay:-15s;
}

.item2 {
    animation-delay: -12s;
}

.item3 {
    animation-delay: -9s;
}

.item4 {
    animation-delay: -6s;
}

.item5 {
    animation-delay:-3s;
}

.item6 {
    animation-delay:-0s;
}

/* start meet the team styles  */
.meet {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meet-wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    cursor: pointer;
    width: 100%;



}

@media(width <=967px) {
    .meet-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media(width <=620px) {
    .meet-wrapper {
        grid-template-columns: 1fr;
    }
}

.meet-title {
    display: flex;
    align-items: center;
}

.meet-title div,
.services-title div {
    display: flex;
    align-items: center;
}

.meet-title .svg {
    position: absolute;
    top: 30px;
    left: 35px;
    width: 140px !important;
    height: 35px;
}

.meet-title .rec-txt {
    position: absolute;
    top: 33px;
    left: 55px;
    font-weight: bold;
    font-size: 18px;
}

.meet-btn {
    background-color: var(--white);
    color: var(--background-color);
}

@media (width <=400px) {
    .meet-btn {
        padding: 4px;
    }

    .meet-title .rec-txt {
        position: absolute;
        top: 0px;

    }
}

.meet-item {
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: var(--background-color);
    padding: 10px;
}

.meet-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: relative;
}

.item-top-left {
    display: flex;
    align-items: center;
}

.item-top-left div {
    display: flex;
    flex-direction: column;
}

.meet-item-top img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 20px;
    top: 20px;
}

.item-top-left p {
    font-size: 12px;
    color: #777676;
    margin-right: 20px;
}

.item-top-right svg {
    width: 20px;
    background-color: var(--background-color);
    height: 20px;
    border-radius: 50%;
    fill: var(--white);
    padding: 5px;
}

.meet-item-top div .flower,
.comment-item-top div .flower {
    fill: var(--green);
    color: var(--green);
    width: 60px;
    height: 60px;
}

.meet-item-bottom,
.comment-item-bottom {
    padding: 10px;
    font-size: 14px;
    color: #5c5b5b;
}

/* strat comment styles  */
.slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 50px;

    overflow: hidden;
}

.comments-wrapper {


    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);


}

.comments-item {

    backdrop-filter: contrast(80%);
    border-radius: 20px;
    width: 66%;
    height: 200px;
    margin-right: 10px;

    counter-increment: comments-wrapper;
}

.comment-item-top img {

    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.item-top-left div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.comment-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

}

@media (width <=900px) {
    .comments-wrapper {
        flex-wrap: wrap;
        gap: 10px;
    }

    .comments-item {
        width: 100%;
        margin-inline: 50px;

    }
}


/* start connect styles 
 */



.connect-wrapper {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left-col {
    width: 50%;
}

.left-col h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.left-col p {
    font-size: 14px;
    color: #CCC;
    margin-bottom: 20px;
    width: 50%;
}

.input {
    width: 70%;
    box-shadow: rgba(196, 196, 200, 0.25) 0px -30px 60px -12px inset, rgba(195, 194, 194, 0.3) 0px 18px 36px -18px inset;
    padding: 4px;
    padding-left: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.input input {
    width: 100%;

    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white);
    font-size: 18px;
}

input::placeholder {
    font-size: 18px;
    margin-left: 20px;

}

.input button {
    all: unset;
    background-color: var(--green);
    padding: 4px 20px;
    border-radius: 30px;
    width: 80px;
    text-align: center;
    color: var(--background-color);
    font-size: 18px;
}

.right-col {
    width: 50%;
    position: relative;
}

.right-col div {
    position: absolute;
    width: 100%;

    bottom: -125px;
}

@media (width <=1135px) {
    .right-col div {
        bottom: -135px;
    }
}

@media (width <=810px) {
    .left-col .input {
        width: 100%;
    }

    .right-col div {
        bottom: -143px;
    }
}

@media (width <=678px) {
    .row {
        flex-direction: column;


    }

    .left-col {
        width: 100%;

    }

    .left-col p {
        width: 100%;
    }

    .left-col .input {
        width: 80%;
    }

    .right-col {
        display: none;
    }

}

@media (width <=678px) {
    .left-col .input {
        width: 100%;
    }
}

/* @media (width >= 1000px){
        .right-col div img{
            width: 100%;
            height: 100%;
margin-top: 20px;
        }
    } */
/* start footer styles 
 */


.footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--green);

    margin-inline: 20px;

    margin: 0 auto;
    border-radius: 40px 40px 0 0;
    color: var(--white);
    padding-inline: 40px;
}

.footer-top {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-block: 30px;
}

.footer-top h3 {
    font-size: 30px;
    width: 50%;
}

.footer-top p {
    width: 50%;
}

.footer .row {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

@media (width <=780px) {
    .footer {
        height: auto;

    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer .row {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .footer-top h3 {
        text-align: center;
    }

    .footer-top p {
        width: 100%;
    }
}

@media (width <=600px) {
    .footer-top {

        align-items: none;
    }

    .footer .row {
        grid-template-columns: 1fr 1fr;
        text-align: center;
        border: none;

    }

    .footer .row .col {
        border: none;

    }
}